/* Hide clutter */

.toolbarbutton-menubutton-dropmarker,
.tabs-newtab-button,
#abp-toolbarbutton,
#addonbar-closebutton,
#alltabs-button,
#appmenu-toolbar-button,
#back-button,
#bookmarks-menu-button,
#downloads-button,
#forward-button,
#go-button,
#home-button,
#identity-box,
#identity-icon-labels,
#minimize-button,
#new-tab-button,
#notification-popup-box,
#page-proxy-favicon,
#PanelUI-button,
#restore-button,
#searchbar,
#star-button,
#stylish-toolbar-button,
#tabbrowser-tabs .scrollbutton-down,
#tabbrowser-tabs .scrollbutton-up,
#urlbar-container dropmarker,
#urlbar-go-button,
#urlbar-reload-button,
#urlbar-stop-button,
statusbarpanel {
  display: none !important;

}

.tab-background-start,
.tab-background-end {
  visibility: hidden !important;

}

.tab-background,
.tab-background-middle,
.tabbrowser-tab:after,
.tabbrowser-tab:before,
.tabbrowser-tab:after {
  box-shadow: none !important;
  background: none !important;

}

/**
    TABS
*/

#TabsToolbar {
   top: 0px !important;
   margin-left: -20px !important;
   margin-right: -35px ! important;
   padding: 2px;

}

tab {
   font-family: "DejaVu Sans Mono" !important;
   font-size: 9pt !important;
   text-align: center !important;

}

#main-window #tabbrowser-tabs tab[fadein]:not([pinned]) {
   max-width: 100% !important;

}

.tabbrowser-tab:not([pinned]) .tab-throbber,
.tabbrowser-tab .tab-close-button,
.tabbrowser-tab:not([pinned]) .tab-icon-image {
   visibility: hidden !important;

}

/* Standard Tabs */

#main-window .tabbrowser-tab:not(:-moz-lwtheme)  {
   background-color: #13263a !important;
   color: #d6d2e2 !important;

}

/* Tab Hover */

#main-window .tabbrowser-tab:hover {
   background-color: #0b0712 !important;
   color: #d6d2e2!important;

}

/* Selected Tab */

#main-window .tabbrowser-tab[selected] {
   background-color: #3973ac !important;
   color: #d6d2e2 !important;

}

/**
    URL BAR
*/

#nav-bar {
   background: #0b0712 !important;
   top: 30px !important;
   box-shadow: none !important;
   height: 30px !important;
   position: relative !important;
   width: 100% !important;

}

/* actual url bar */

#urlbar {
   background: none !important;
   border: none !important;
   color: #d6d2e2 !important;
   font-family: "DejaVu Sans Mono" !important;
   font-size: 9pt !important;
   height: 25px !important;
   margin-left: 10px !important;
   margin-top: 0px !important;
   padding: 2 !important;
   width: 120em !important;

}

#content-deck {
   margin-bottom: 5px !important;

}

/* URL bar drop down */

#PopupAutoCompleteRichResult {
   margin-top: 10px !important;

}